input{
    border-radius: 5px;
    border: none;
    
}
.new{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
body {            
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    width: 70%;
}
ul {
    list-style-type: none;    /* Remove bullet points from the list */
    padding: 0;
    margin: 0;
    display: flex;            /* Makes the list items display horizontally */
    justify-content: space-between;  /* Distribute items evenly */
}

ul li {
    display: inline;         /* Ensures each list item appears next to each other */
}

ul li a {
    text-decoration: none;
    padding: 10px 15px;      /* Optional: adds padding around the links */
    display: block;          /* Makes the link a block to click the entire area */
}

ul li input {
    padding: 5px;
    margin-top: 8px;          /* Aligns the input field vertically with the other items */
}

footer{
    text-align: center;
            padding: 20px;
            background: #333;
            color: #fff;
}
footer a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}
footer a:hover {
    color: #00aced;
}
.container{
    /* width: 80%; */
    margin: 0 auto;           /* Center the container horizontally */
    background-color: aliceblue;
    padding: 20px,20px, 20px, 20px;
}
.container img{
    width: 100%;
    height: fit-content;
}
.movies{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    margin: 0 auto;
}
.movies img{
    width: 100%;
}