.main-content {
  display: flex;
  margin-top: 100px;
  margin-left: 10%;
  margin-right: 10%;
}

.categories {
  height: 100%;
  background-color: var(--secondary);
  color: var(--textPrimary);
  border-radius: 10px;
  margin-right: 20px;
}

.genre-filters {
  list-style-type: none;
  padding: 0;
}

.genre-filters label {
  width: 200px;
  display: block;
  margin-bottom: 5px;
}

.movie-list-container {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  flex-grow: 1; /* Takes up remaining space */
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

movie-card {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

movie-card img {
  width: 278px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.genre-filters {
  list-style: none;
  padding: 10px;
  margin: 0;
}
h4 {
  font-size: 16px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  max-width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.genre-filters label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}

.genre-filters input {
  margin-right: 10px;
  padding: 10px;
}
h3 {
  color: var(--textPrimary);
  padding: 10px;
}
@media (max-width: 600px) {
  movie-card img {
    width: 100px !important;
    height: 120px !important;
    object-fit: cover;
    border-radius: 5px;
  }
  h4 {
    font-size: 8px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
  }
  movie-card {
    max-width: 100px !important;
    min-width: 80px !important;
  }
}
@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }

  .categories {
    width: 100%;
    margin-right: 0;
  }

  .movie-list-container {
    margin-top: 20px;
  }
  movie-card img {
    width: 160px;
    height: 180px;
    object-fit: cover;
    border-radius: 5px;
  }
  movie-card {
    max-width: 200px !important;
  }
  h4 {
    font-size: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
  }
}

@media (max-width: 1100px) {
  .main-content {
    flex-direction: column;
  }

  .categories {
    width: 100%;
    margin-right: 0;
  }

  .movie-list-container {
    margin-top: 20px;
  }
  movie-card img {
    width: 180px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
  }
  movie-card {
    max-width: 200px !important;
    min-width: 200px;
  }
  h4 {
    font-size: 12px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
  }
}
